<div class="container ">

    <div style="display:flex;width:100%;overflow-x:scroll;">
        <!-- <a [routerLink]="['/codepage']" [state]="{ id:1 , name:'Angular'}"> -->

        <mat-card *ngFor="let item of items;let i=index" class="example-card" (click)="goToCodePage(items[i])">
            <div class="parent">
                <img src="{{items[i].banner}}" class="card-img" alt="Course">
                <div *ngIf="items[i].premium" class="child">
                    <div style="background-color: rgb(235, 78, 104); border-top-right-radius: 5px">
                        <p style="color: white; padding: 5px 10px 5px 10px; ">
                            Premium
                        </p>
                    </div>
                </div>
            </div>
            <mat-card-content style="padding: 10px;">
                <p class="parabold">
                    {{items[i].title}}
                </p>
                <div class="row ">
                    <div class="col-6 ">
                        <p style="text-align: left;" class="parasmall">{{items[i].enrolled}} enrolled
                        </p>
                    </div>

                    <div class="col-6">
                        <p style="text-align: right;" class="parasmall">
                            {{items[i].course_time}} course
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <p style="text-align: left; " class="parasmallbottom">
                            <s>
                                ₹ {{items[i].original_amount}}
                                </s>
                            <span style="text-align: left; color: #5958f0; font-weight: 600; padding-left: 5px;" class="parasmallbottom">
                                    
                                        ₹ {{items[i].offer_amount}}
                                    
                                </span>
                        </p>
                    </div>

                    <div class="col-6">
                        <p style="text-align: right; font-size: 10px;" class="parasmallbottom">
                            save ₹{{items[i].difference}} ({{items[i].percentage}}% discount)
                        </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- </a> -->

    </div>




</div>