<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row  loginForm">
                <div class="col-md-6 backClass text-center" style="align-items: center;">

                    <img src="assets/images/back.jpg" class="img-fluid img-responsive" style="object-fit: cover;height: 100%; width: 100%;">

                </div>
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-left form p-4">
                    <img src="assets/images/logocoding.svg" class="img-fluid img-responsive">

                    <div id="loginDiv">

                        <h3 class="text-left mt-5 optionClass">If you are a new user?</h3>
                        <button class="buttonClass" mat-button color="primary" id="toRegister">Signup</button>

                        <h3 class="text-left mt-5 optionClass">Login: If you have an account?</h3>

                        <input type="number" class="form-control mt-3 textBox" id="username" placeholder="Mobile number">


                        <input type="password" class="form-control mt-5 textBox" id="password" placeholder="Password*">

                        <h3 id="toForgot" class="text-right mt-5 optionClass forgotClass">Forgot password ?</h3>


                        <button (click)="login()" class="buttonClass mt-2" mat-button color="primary">Login</button>

                    </div>

                    <div id="registerDiv">
                        <app-register></app-register>
                    </div>


                    <div id="otpPage">
                        <app-otp-page></app-otp-page>
                    </div>

                    <div id="passwordDiv">
                        <app-password></app-password>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>