<app-loader *ngIf="show_spiner"></app-loader>

<div *ngIf="!show_spiner" class="container">
    <p class="titles">Profile</p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div>
                <label>Name :</label>

                <input type="text" id="name" class="form-control  textBox" placeholder="Enter name" value={{profileModel.name}}>



            </div>

            <div class="padding_class">
                <label>Email :</label>
                <input type="text" id="email" class="form-control  textBox" placeholder="Enter email" value={{profileModel.email}}>



            </div>
        </div>
        <div class="col-md-6">
            <div *ngIf="profileModel.image!=''" class="imageContainer text-center">
                <img class=" img-fluid img-responsive" src="{{profileModel.image}}" style="object-fit: cover; height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <div *ngIf="profileModel.image==''" class="imageContainer text-center">
                <img class=" img-fluid img-responsive" src="{{imgURL}}" style="object-fit: cover; height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <span style="color:red; margin-top: 10px;" *ngIf="message">{{message}}</span>



            <div style="padding: 20px;" class="col-md-6">

                <label class="buttonClass text-center col-6">
                    <div style="padding: 7px;">
                        Upload Image
                    </div>
                    <input #file type="file" accept='image/*'(change)="preview(file.files)" id="profile_pic" hidden>
                </label>
            </div>



        </div>


    </div>
    <div style="padding-top: 30px;">

        <button class="buttonClass " (click)="updateProfile()" mat-button color="primary">
        Update
    </button>
    </div>


</div>